{% load static %}
<footer class="grid grid-cols-3 bg-blue-800 text-white py-6 mt-12">
    <div class="flex-items-start mb-4 md:mb-0">
        <img src="{% static 'image/no-products.png' %}" alt="Logo" class="h-10 w-10 ml-6"/>
    </div>

    <div>
        <h2 class=""text-lg font-bold mb-2>Millboard
            <ul>
                <li class="mb-2"><a href="" class="hover:text-white-500">Modules</a></li>
                <li class="mb-2"><a href="" class="hover:text-white-500">Final Quiz</a></li>
                <li class="mb-2"><a href="" class="hover:text-white-500">Scan and Read</a></li>
            </ul>
        </h2>
    </div>

     <div>
        <h2 class=""text-lg font-bold mb-2>Connect With Us
            <ul>
                <li class="mb-2"><a href="" class="hover:text-white-500">Email</a></li>
                <li class="mb-2"><a href="" class="hover:text-white-500">Instagram</a></li>
                <li class="mb-2"><a href="" class="hover:text-white-500">Youtube</a></li>
                <li class="mb-2"><a href="" class="hover:text-white-500">LinkedIn</a></li>
            </ul>
        </h2>
    </div>
</div>

</footer>